@import url(./components/button.css);
@import url(./components/combobox.css);
@import url(./components/popup.css);
@import url(./layouts/content.css);
@import url(./layouts/header.css);
@import url(./layouts/nav.css);
@import url(./components/toast.css);
@import url(./components/buttonicon.css);
@import url(./components/buttondropdown.css);
@import url(./components/textfield.css);
@import url(./components/textfieldicon.css);

body {
  font-family: MISA Font;
  margin: 0;
}

* {
  font-size: 13px;
}

@font-face {
  font-family: fa;
  src: url();
}

:root {
  --color-primary: #007aff;
  --border-radius: 4px;
  --border-color: #ccc;
  --border-color-hover: #007aff;
  --height-primary: 36px;
}
