@import url(./components/button.css);
@import url(./components/textfield.css);
@import url(./components/combobox.css);
@import url(./components/dialog.css);
@import url(./components/popup.css);
@import url(./components/toast.css);
@import url(./components/form.css);
@import url(./components/table.css);
@import url(./components/mcombobox.css);
@import url(./components/datetime.css);
@import url(./components/radio.css);

body {
  font-family: MISA Font;
}

* {
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

@font-face {
  font-family: MISA Font;
  src: url("../assets/fonts/notosans-regular.2cb88a13.woff2");
}

:root {
  --color-primary: #fff;
  --color-green-primary: #50b83c;
  --color-green-hover-primary: #5dc748;
  --color-green-pressed-primary: #118044;

  --border-radius-primary: 4px;
  --border-color-primary: #e6e6e6;

  --background-color-primary: #50b83c;
  --font-weight-primary: 500;
}
