<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="btn">
      <div class="group1">
        <div class="btn__primary btn-hover btn-pressed">Button</div>
        <div class="btn__extra">Button</div>
        <div class="btn__add">
          <i class="fa-regular fa-plus"></i>
        </div>

        <button class="btn-custom-rounded">
          <i class="fa-regular fa-plus"></i>
        </button>
      </div>

      <div class="combo">
        <div class="combo__lable">Button</div>
        <div class="combo__icon"><i class="fa-solid fa-chevron-down"></i></div>
      </div>

      <div style="display: inline-block">
        <div class="btn-add-icon">
          <div class="btn-add-icon__icon">
            <i class="fa-regular fa-plus"></i>
          </div>
          <div class="btn-add-icon__label">Button</div>
        </div>
      </div>
    </div>
  </body>
</html>
