<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="form-1">
      <div class="form--register">
        <div class="form__header">
          <p class="form__header--title">Đăng kí tài khoản</p>
        </div>

        <div class="form__input">
          <label class="form__input__label">Label </label>
          <input
            class="form__input--text input-hover input-focus"
            type="text"
            name="input"
            placeholder="Placeholder"
          />
        </div>

        <div class="form__radio">
          <div class="form__radio--title">Giới tính</div>
          <div class="form__radio--man">
            <input type="radio" />
            <span class="form__radio--label">Name</span>
          </div>
          <div class="form__radio--femail">
            <input type="radio" />
            <span class="form__radio--label">Nữ</span>
          </div>
        </div>

        <div class="form_date">
          <label class="textfield__label">Label </label>
          <input type="date" id="birthday" name="birthday" />
        </div>

        <div class="form__email">
          <label class="form__email__label">Label </label>
          <input
            class="form__email--text"
            type="text"
            name="input"
            placeholder="example@email.com"
          />
        </div>

        <div class="form__button">
          <button class="form__button-cancel">Cancel</button>
          <button class="form__button-ok">Ok</button>
        </div>
      </div>
    </div>
  </body>
</html>
