<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="popup-1">
      <div class="popup">
        <div class="popup__header">
          <div class="popup__header-title">Tiêu đề</div>
          <div class="popup__header-close">
            <i class="fa-solid fa-xmark"></i>
          </div>
        </div>
        <div class="popup__des">Mô tả</div>
        <div class="popup__input">
          <div class="popup__input-text">
            <label class="textfield__label">Label </label>
            <div class="textfield-outline">
              <div class="textfield-validate input-hover">
                <input
                  class="textfield-validate__placeholder input-hover"
                  type="text"
                  placeholder="misa.amis.vn"
                />
              </div>
            </div>
          </div>

          <div class="combobox">
            <label class="combobox__label">Label </label>
            <div class="combobox-outline">
              <div class="combobox-validate input-hover">
                <input
                  class="combobox-validate__placeholder input-hover"
                  type="text"
                  placeholder="Type here"
                />
                <i onclick="toggleCombobox()" class="combobox-validate__icon">
                  <i class="fa-solid fa-chevron-down"></i>
                </i>
              </div>
            </div>

            <div id="comboboxId" class="combobox__content">
              <div class="combobox__content-val">
                <p>- Chọn giá trị -</p>
              </div>
              <div class="combobox__content-val">
                <p>Hà Nội</p>
                <i class="fa-solid fa-check"></i>
              </div>
              <div class="combobox__content-val">TP.Hồ Chí Minh</div>
            </div>
          </div>
        </div>
        <div class="popup__button">
          <div class="popup__button--left">
            <button class="popup__button-cancel">Action</button>
          </div>
          <div class="popup__button--right">
            <button class="popup__button-cancel">Cancel</button>
            <button class="popup__button-ok">Ok</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<script>
  function toggleCombobox() {
    var comboBox = document.getElementById("comboboxId");

    if (comboBox.style.display === "block") {
      comboBox.style.display = "none";
    } else {
      comboBox.style.display = "block";
    }
  }
</script>
