<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="table-1">
      <div class="table">
        <div class="table__header">
          <div class="table__header-title">Tieu de phan he</div>
          <div class="table__header-select">
            <button class="table__header-select-newadd">Them moi</button>
            <button class="table__header-select-option">Options</button>
          </div>
        </div>
        <div class="table__content">
          <div class="table__content-top">
            <div class="table__content-top-search">Search</div>
            <div class="table__content-top-select">
              <button class="table__content-top-select-company"></button>
              <button class="table__content-top-select-filter"></button>
              <button class="table__content-top-select-setting"></button>
            </div>
          </div>

          <div class="table__content-info">
            <table id="customers">
              <tr>
                <th>Company</th>
                <th>Contact</th>
                <th>Country</th>
              </tr>
              <tr>
                <td>Alfreds Futterkiste</td>
                <td>Maria Anders</td>
                <td>Germany</td>
              </tr>
              <tr>
                <td>Berglunds snabbköp</td>
                <td>Christina Berglund</td>
                <td>Sweden</td>
              </tr>
              <tr>
                <td>Centro comercial Moctezuma</td>
                <td>Francisco Chang</td>
                <td>Mexico</td>
              </tr>
              <tr>
                <td>Ernst Handel</td>
                <td>Roland Mendel</td>
                <td>Austria</td>
              </tr>
              <tr>
                <td>Island Trading</td>
                <td>Helen Bennett</td>
                <td>UK</td>
              </tr>
              <tr>
                <td>Königlich Essen</td>
                <td>Philip Cramer</td>
                <td>Germany</td>
              </tr>
              <tr>
                <td>Laughing Bacchus Winecellars</td>
                <td>Yoshi Tannamuri</td>
                <td>Canada</td>
              </tr>
              <tr>
                <td>Magazzini Alimentari Riuniti</td>
                <td>Giovanni Rovelli</td>
                <td>Italy</td>
              </tr>
              <tr>
                <td>North/South</td>
                <td>Simon Crowther</td>
                <td>UK</td>
              </tr>
              <tr>
                <td>Paris spécialités</td>
                <td>Marie Bertrand</td>
                <td>France</td>
              </tr>
            </table>
          </div>

          <div class="table__content-footer">
            <div class="table__content-footer-total-records"></div>
            <div class="table__content-footer-paging">
              <p class="table__content-footer-paging-label">Record/Page</p>
              <div class="table__content-footer-paging-select">Select Page</div>
              <div class="table__content-footer-paging-info-records">
                1 - 9 records
              </div>
              <div class="table__content-footer-paging-button">
                <div class="table__content-footer-paging-button--left">
                  <i class="fa-solid fa-chevron-left"></i>
                </div>
                <div class="table__content-footer-paging-button--right">
                  <i class="fa-solid fa-chevron-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
