<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="textfield">
      <div class="textfield-1">
        <label class="textfield__label">Label </label>
        <input
          class="textfield__input input-hover input-focus"
          type="text"
          name="input"
          placeholder="Placeholder"
        />
      </div>

      <div class="textfield-2">
        <label class="textfield__label">Label </label>
        <input
          class="textfield__input--error"
          type="text"
          name="input"
          placeholder="Placeholder"
        />
        <p class="textfield__info-error">ten truong khong duoc de trong</p>
      </div>

      <div class="textfield-2">
        <label class="textfield__label">Label </label>
        <input
          class="textfield__input input--readonly"
          type="text"
          name="input"
          placeholder="Placeholder"
        />
      </div>

      <div class="textfield-3">
        <label class="textfield__label">Label </label>
        <div class="textfield-outline">
          <div class="textfield-validate input-hover">
            <input
              class="textfield-validate__placeholder input-hover"
              type="text"
              placeholder="misa.amis.vn"
            />
            <i class="textfield-validate__icon">
              <i class="fa-regular fa-circle-check"></i>
            </i>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
