.button__dropdown {
  margin: 24px;
  height: 40px;
  border-radius: 4px;
  background-color: #019160;
  border: 0;
  font-size: 13px;
  color: #fff;
  text-align: center;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button__dropdown img {
  padding: 0 8px 0 16px;
}

.button__dropdown p {
  padding-right: 16px;
}

.button__dropdown span {
  border-right: 1px solid #fff;
}

.button__dropdown:hover {
  background-color: #2fbe8e;
}

.button__dropdown:focus {
  background-color: #01b075;
}
