.datetime {
}

.datetime input {
  margin-top: 8px;
  border: 1px solid var(--border-color-primary);
  padding: 10px 12px 9px 12px;
  border-radius: var(--border-radius-primary);
  height: 36px;
  font-weight: 400;
}

.width-full {
  width: 100% !important;
}
